body {
	margin: 0;
	font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}

h1 {
	font-size: 2em;
	color: white;
	font-weight: 600;
	text-align: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media (min-height: 1025px) {
	h1 {
		padding-top: 30px;
	}
}
